// Colors
$white: #FFF;
$pink: #FF017A;
$blue: #000A14;
$black: #000;

// Media Queries
$sm: 576px; // min-width
$md: 768px; // min-width
$lg: 992px; // min-width
$xl: 1200px; // min-width
$xxl: 1400px; // min-width

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
    color: $white;
}

body {
    background-color: $blue;
}

%bt-default {
    background-color: $pink;
    color: $white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    display: block;

    i {
        margin-right: 5px;
    }
}

%table-default {
    width: 100%;
    max-width: 400px;
    border: 1px solid rgba($white, .5);
    margin-bottom: 20px;

    tr {
        border-bottom: 1px solid rgba($white, .5);

        th, td {
            padding: 10px;
            text-transform: uppercase;
            font-size: 18px;
        }

        th {
            font-weight: 400;
        }

        td {
            border-top: 1px solid rgba($white, .5);
        }

        
    }
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

.sec-navbar {
    padding: 20px 0;
    box-shadow: 1px 1px 10px rgba($black, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: $blue;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 24px;
            font-weight: 400;
        }

        &__lst {
            list-style: none;
        }
    }
}

.sec-header {
    margin-top: 76px;
    padding: 20px 0;

    &__content {
        &__title {
            font-size: 48px;
            text-transform: uppercase;
        }

        &__subtitle {
            font-size: 24px;
            text-transform: uppercase;
        }

        &__lst {
            list-style: none;

            &__item {
                font-size: 18px;

                &::before {
                    content: "-";
                    color: $white;
                    font-size: 24px;
                    margin-right: 10px;
                }

                &:last-child {
                    text-transform: uppercase;
                    position: relative;
                    overflow: hidden;
                    padding: 0 0 0 15px;
                    margin: 20px 0;

                    &::before {
                        content: "";
                        margin-right: 10px;
                        width: 5px;
                        height: 150px;
                        background-color: $white;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}

.sec-add-players {
    &__content {
        &__form {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            &__label {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 10px;
                display: inline-block;

                small {
                    display: block;
                    font-size: 14px;
                    opacity: .5;
                    font-style: italic;
                    font-weight: 300;
                }
            }

            &__input {
                background-color: transparent;
                color: $white;
                outline: none;
                border: 1px solid rgba($white, .5);
                padding: 10px;
                width: 100%;
                max-width: 400px;
            }

            &__bt {
                @extend %bt-default;
                margin: 10px 0 20px;
            }
        }

        &__table {
            @extend %table-default;

            &__bt-remove {
                @extend %bt-default;
                margin-left: auto;
            }
        }

        &__bt-start-game {
            @extend %bt-default;
        }

        
    }
}

.sec-game {
    margin-top: 76px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;

            &__deck {
                width: 300px;
                height: 450px;
                border: 0;
                position: relative;
                background-color: $white;
                overflow: hidden;
                cursor: pointer;
                color: $blue;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;

                @media (max-width: $sm) {
                    transform: rotate(90deg);
                    width: 200px;
                    height: 300px;
                    margin-right: 0;
                }

                &::before {
                    content: '';
                    width: calc(100% - 40px);
                    height: calc(100% - 40px);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    background-color: $blue;
                    z-index: 100;
                }

                &::after {
                    content: '';
                    width: 100%;
                    height: 225px;
                    z-index: 200;
                    background-color: $white;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    transform: rotate(5deg);

                    @media (max-width: $sm) {
                        height: 150px;
                    }
                }
                
                .fa-poop {
                    z-index: 300;
                    color: $blue;
                }
            }

            &__card {
                width: 300px;
                height: 450px;
                position: relative;
                background-color: $white;
                overflow: hidden;
                color: $blue;
                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    content: '';
                    width: calc(100% - 40px);
                    height: calc(100% - 40px);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    background-color: $blue;
                    z-index: 100;
                }

                &::after {
                    content: '';
                    width: 100%;
                    height: 225px;
                    z-index: 200;
                    background-color: $white;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    transform: rotate(-5deg);
                }

                &__question {
                    font-family: "Anton", sans-serif;
                    line-height: 1.5;
                    font-size: 20px;
                    font-weight: 400;
                    text-align: center;
                    color: $blue;
                    z-index: 300;
                    padding: 40px;
                }
            }
        }

        &__table {
            @extend %table-default;

            @media (max-width: $sm) {
                margin-top: 20px;
            }

            &__bt {
                @extend %bt-default;
                margin-left: auto;
                text-align: center;

                i {
                    margin-right: 0;
                }
            }
        }
    }
}

.sec-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba($black, .5);
    border: 0;
    justify-content: center;
    align-items: center; 
    display: flex;
    padding: 0 20px;
    
    &[hidden] {
        display: none;
    }

    &__content {
        width: 100%;
        max-width: 600px;
        background-color: $white;
        padding: 40px;
        box-shadow: 1px 1px 10px rgba($black, .5);
        overflow-x: scroll;

        @media (max-width: $sm) {
            padding: 20px;
        }

        &__title {
            font-family: "Anton", sans-serif;
            color: $pink;
            text-transform: uppercase;
            text-align: center;
            font-size: 32px;
            font-weight: 400;

            @media (max-width: $sm) {
                font-size: 24px;
            }
        }

        &__description {
            color: $blue;
            text-align: center;
            font-size: 24px;
            font-weight: 400;
            margin: 20px 0;

            @media (max-width: $sm) {
                font-size: 16px;
            }
        }

        &__lst {
            list-style: none;

            &__item {
                color: $blue;
                font-size: 24px;
                font-weight: 400;
                text-align: justify;
                margin: 10px 0 0;

                @media (max-width: $sm) {
                    font-size: 16px;
                }
            }
        }

        &__bt {
            @extend %bt-default;
            margin: 20px auto 0;
        }
        
    }
}

.sec-modal-landscape {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba($black, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 20px;

    @media (min-width: $sm) {
        display: none;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        font-weight: 400;

        i {
            margin-bottom: 10px;
            animation: landscapeAnim 1.5s infinite;
        }
    }

    &[hidden] {
        display: none;
    }
}

@keyframes landscapeAnim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    } 
}